@media screen and (max-width:768px){
    .img-product, .form img {
        width:180px;
    }
}

.mobile {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .tableau {
        display: none;
    }
    .mobile {
        display: block !important;
    }
}

